/* THE CAROUSEL
-------------------------------------------------- */
.carousel {
    /* Carousel base class */
    height: 300px;
}

.carousel-caption {
    /* Since positioning the image, we need to help out the caption */
    z-index: 10;
}

.item img {
    height: 300px;
    margin: auto;
}

.carousel-caption .carousel-caption-content{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.carousel-caption .carousel-caption-content p {
    font-size: 1em;
}

.carousel-indicators li{
    background-color: #F05648;
    border-color: #000;
}

.carousel-indicators .active{
    background-color: #22313F;
}

.carousel-inner > .item {
    /* Declare heights because of positioning of img element */
    height: 300px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
    max-width: none !important;
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

/* STICK, the last carousel you will ever need
-------------------------------------------------- */

.autoplay > div img {
    height: auto;
    margin: auto;
    max-height: 75px;
    max-width: 125px;
}

@media (min-width: 768px) {
    .autoplay > div img {
        max-height: 150px;
        max-width: 200px;
    }
}
