/* GLOBAL
-------------------------------------------------- */

body {
    /* Set padding to protect main menu top place */
    padding-top: 55px;
}

.body-content {
    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.darker-container{
    background-color: rgb(236,236,236);
    padding: 30px;
    box-shadow: 2px 1px 1px 1px #000;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* for reading pages outside home */

section header h2{
    padding-left: 5px;
    font-weight: normal;
}

.page-header h1,
.page-header h2{
    margin-bottom: 5px;
}

.main-page-header{
    margin-bottom: 5px;
}


/* MAIN NAVBAR
-------------------------------------------------- */

.navbar-default{
    background-color: #c0392b;
    padding-bottom: 10px; /* Mobile only */
}

.navbar .container-fluid .navbar-nav > li > a,
.navbar .container-fluid .navbar-header .navbar-brand{
    color: #FFF;
}

.navbar .container-fluid .navbar-header .navbar-brand{
    font-size: 2.5em;
    margin-bottom: 5px;
    margin-top: 5px; /* Vertical alignment that should appear only for desktop screens */
}

.navbar .container-fluid .navbar-header .navbar-brand small{
    font-size: 0.4em;
}

.navbar .container-fluid .dropdown-header{
    color: #FFF;
}

@media (min-width: 768px) {
    /* If in a desktop */

    .navbar-default{
        padding-bottom: 0px;
    }

    .navbar .container-fluid .navbar-header .navbar-brand{
        margin-top: 0px; /* Fix that vertical alignment */
    }

}

.navbar .navbar-toggle{
    border-color: transparent;
    background: none !important;
}

.navbar .navbar-toggle .icon-bar{
    background-color: #FFF;
    padding: 2px;
    margin: 4px;
    border-radius: 10px;
}

/* SIDEBAR NAV
-------------------------------------------------- */

.nav-sidebar {
    margin-top: 5px;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #34495e;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #16a085;
}

/* FOOTER
-------------------------------------------------- */

footer{
    background-color: #B71C1C;
    /* Set padding to keep content footer from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p,
footer li,
footer li a{
    color: #fff;
}

footer a,
footer a:hover,
footer a:visited{
    color: #bdc3c7;
}
