{% extends "admin/layout.html" %}

{% block content %}

<div class="col-md-6" style="margin-left: -4%">
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar Capitulo<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('crud_books.add_chapter') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    
    <br/>
    
    {{ form.book_title.label }}<br/>
    {{ form.book_title(required='true', class="form-control", placeholder="Ex: Percursos da Literatura Brasileira") }}

    <br/>
    
    {{ form.book_authors.label }}<br/>
    {{ form.book_authors(required='true', class="form-control", placeholder="Ex: Madureira") }}

    <br/>
    
    {{ form.chapter_title.label }}<br/>
    {{ form.chapter_title(required='true', class="form-control", placeholder="Ex: Como ler textos de ficção") }}

    <br/>
    
    {{ form.chapter_authors.label }}<br/>
    {{ form.chapter_authors(required='true', class="form-control", placeholder="Ex: Carlos Silveira e Julio Macedo") }}

    <br/>

    {{ form.edition.label }}<br/>
    {{ form.edition(required='true', class="form-control", type='number', step='1', min='1', max='300', placeholder='ex: 1') }}

    <br/>
    
    {{ form.location.label }}<br/>
    {{ form.location(required='true', class="form-control", placeholder="Ex: Natal") }}

    <br/>
    
    {{ form.publisher.label }}<br/>
    {{ form.publisher(required='true', class="form-control", placeholder="Ex: Editora 34") }}

    <br/>

    {{ form.year.label }}<br/>
    {{ form.year(required='true', type='number', step='1', placeholder='2002', class="form-control") }}    

    <br/>

    {{ form.pages.label }}<br/>
    {{ form.pages(required='true', placeholder="p. 63-76", class="form-control") }}    

    <br/>
    
    {{ form.create(class="form-control")}}
    </div>
    
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
