{% extends "admin/layout.html" %}
{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ post_graduation }}.css"/>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script> 
<script type="text/javascript">
$(function() {
    $("#datepickerInitial").datepicker({
        dateFormat: "dd/mm/yy"
    });
    $("#datepickerFinal").datepicker({
        dateFormat: "dd/mm/yy"
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-6" style="margin-left: -5%">
<br/>
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar evento<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('admin.add_events') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', class="form-control", placeholder='ex: Inicio do ano letivo') }}
    <br/>
    {{ form.initial_date.label }}<br/>
    {{ form.initial_date(required='true', class="form-control", id="datepickerInitial")}}
    <br/>
    {{ form.final_date.label }}<br/>
    {{ form.final_date(class="form-control", id="datepickerFinal")}}
    <br/>
    {{ form.hour.label }}<br/>
    {{ form.hour(class="form-control")}}
    <br/>
    {{ form.link.label }}<br/>
    {{ form.link(class="form-control")}}
    <p class="form-text text-muted">
        Por favor insira uma URL válida, não esqueça do https://
    </p>
    <br/>
    {{ form.create(class="form-control")}}
    </div>
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
