{% extends "admin/layout.html" %}
{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    var projects = {{ projects|tojson|safe }};
    var projects = JSON.parse(projects);
    console.log(projects);
    var listOfProjects = [];
    for( i = 0; i < projects.length; i++){
        if (!(projects[i].hasOwnProperty('deleted'))){
            listOfProjects.push({
                id: i,
                text: (projects[i].title)
            })
        }
    }

    $("#list").select2({
        data: listOfProjects
    });

    $("#selecionar").click(function(){
        $("tbody").empty();
        showMembers(projects);
    });

    $("form").on("submit", function(event) {
        $.ajax({
            data : {
            "name" : $("input[name=name]").val(),
            "project_id" : $("input[name=project_id]").val(),
            "project_role" : $("select[name=project_role]").val(),
            "general_role" : $("select[name=general_role]").val(),
            "csrf_token" : $("input[name=csrf_token]").val()
            },
            type: "POST",
            url: "{{ url_for('crud_projects.add_member') }}",
        })
        .done(function(data) {
            if (data.error) {
                console.log(data.error);
            } else {
                var projects = JSON.parse(data.projects);
                $("tbody").empty();
                showMembers(projects);
            }
        });
        event.preventDefault();
    });

});

function showMembers(projects) {
    var indexInProjects = $("select#list").val();
    $("input[name=project_id]").val(projects[indexInProjects]._id.$oid);
    if(projects[indexInProjects].members.length > 0){
        for( i = 0; i < (projects[indexInProjects].members).length; i++){
            if(!(projects[indexInProjects].members[i].hasOwnProperty('deleted'))){
            $("tbody").append("<tr>" + "<td>" + projects[indexInProjects].members[i].name + "</td>" + "<td>" + projects[indexInProjects].members[i].general_role + "<td>" + projects[indexInProjects].members[i].project_role +"</td>" + "<td style='display:none'>" + i.toString() + "</td></tr>");
            console.log('pq n ta prestando');
            }
        };
    }
}
</script>
{% endblock %}
{% block styles %}
<style>
    @media (max-width: 768px) {
    .col-md-6 {
        margin-left: -6%;
    }
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
</br>
<div class="col-md-12" style="margin-left: -4%">
    <div class="panel panel-danger">
        <div class="panel-heading text-center"><h4>Adicionar membro<h4/></div>
    <div class="panel-body">
        <h5>Selecione o projeto</h5>
        <select id="list"></select>
        </br>
        </br>
        <button id="selecionar" type="button" class="btn btn-default">Selecionar</button>
    </div>
</div>
</div>
<div class="col-md-6" style="margin-left: -4%">
    <div class="panel panel-danger">
        <div class="panel-heading text-center"><h5>Formulário</h5></div>
            <div class="panel-body">
            <form method="POST" action="{{ url_for('crud_projects.add_member') }}">
                <div class="form-group">
                {{ form.csrf_token }}
                {{ form.project_id(style="display:none") }}
                <br/>
                {{ form.name.label }}<br/>
                {{ form.name(required='true', class="form-control", placeholder="Thiago Ferreira Dias") }}
                <br/>
                {{ form.project_role.label }}<br/>
                {{ form.project_role(required='true', class="form-control") }}
                <br/>
                {{ form.general_role.label }}<br/>
                {{ form.general_role(required='true', class="form-control") }}
                <br/>
                {{ form.create(class="form-control")}}
                </div>
            </form>
            <br/>
            <p>
                Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading text-center"><h5>Membros presentes no projeto</h5></div>
            <div class="panel-body">
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Função</th>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
