{% extends "admin/layout.html" %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-xs-6" style="margin-left: -5%">
<header style="margin-top : 6.5%">
    <h2>Professores</h2>
</header>

{% if success_msg %}
    <div class="form-success">
        <p>{{ success_msg }}</p>
    </div>
{% endif %}

<form method="POST" action="{{ url_for('admin.add_professors') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    <br/>
    {{ form.name.label }}<br/>
    {{ form.name(required='true', class="form-control") }}
    <br/>
    {{ form.rank.label }}<br/>
    {{ form.rank(required='true', placeholder='ex: Professor ou Colaborador', class="form-control") }}
    <br/>
    {{ form.lattes.label }}<br/>
    {{ form.lattes(class="form-control") }}
    <br/>
    {{ form.email.label }}<br/>
    {{ form.email(required='true', class="form-control") }}    
    <br/>
    {{ form.create(class="form-control") }}
    </div>
</form>
<br/>
</div>
</div>
</div>

<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>

{% endblock %}
