{% extends "admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ post_graduation }}.css"/>
{% endblock %}

{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name=create]").val("Deletar");
    var participations = {{ participations|tojson|safe }};
    var participations = JSON.parse(participations);
    console.log(participations);
    var listOfParticipations = [];
    for( i = 0; i < participations.participationsInEvents.length; i++){
        if (!(participations.participationsInEvents[i].hasOwnProperty('deleted'))){
            listOfParticipations.push({
                id: i,
                text: (participations.participationsInEvents[i].title)
            })
        }
    }

    $("#list").select2({
        data: listOfParticipations
    });

    $("button").click(function(){
        var indexInParticipations = $("select#list").val();
        $("#form-edit").css("visibility", "visible");
        $("input[name=title]").val(participations.participationsInEvents[indexInParticipations].title);
        $("textarea[name=description]").val(participations.participationsInEvents[indexInParticipations].description);
        $("input[name=year]").val(participations.participationsInEvents[indexInParticipations].year);
        $("input[name=location]").val(participations.participationsInEvents[indexInParticipations].international);
        $("select[name=type_of_participation]").val(participations.participationsInEvents[indexInParticipations].type_of_participation);
        $("input[name=index]").val(indexInParticipations);
    });

});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
<div class="panel panel-danger" style="margin-left: -4%">
<div class="panel-heading text-center">
    <h4>Deletar intercâmbio<h4/>
</div>
<div class="panel-body">
<div class="col-md-10">
<h5>Selecione o intercâmbio</h5>
<select id="list"></select>
</br>
</br>
<button id="edit" type="button" class="btn btn-default">Selecionar</button>
</div>
<div class="col-md-10">
<form method="POST" id="form-edit" action="{{ url_for('crud_participation.delete_participations') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    {{ form.index(required='true', style="display:none;") }}
    <br/>
    {{ form.title.label }}
    <br/>
    {{ form.title(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.description.label }}
    <br/>
    {{ form.description(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.year.label }}
    <br/>
    {{ form.year(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.type_of_participation.label }}
    <br/>
    {{ form.type_of_participation(required='true', class="form-control", readonly="readonly") }}
    <br/>
    <br/>
    {{ form.location.label }}
    <br/>
    {{ form.location(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.create(class="form-control") }}
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
