{% extends "admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ post_graduation }}.css"/>
{% endblock %}

{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name=create]").val("Deletar");
    var documents = {{ documents|tojson|safe }};
    var documents = JSON.parse(documents);
    console.log(documents[0]._id.$oid);
    var listOfDocuments = [];
    for( i = 0; i < documents.length; i++){
        if (!(documents[i].hasOwnProperty('deleted'))){
            listOfDocuments.push({
                id: i,
                text: (documents[i].title)
            })
        }
    }

    $("#list").select2({
        data: listOfDocuments
    });

    $("button").click(function(){
        var indexInDocuments = $("select#list").val();
        $("#form-edit").css("visibility", "visible");
        $("input[name=title]").val(documents[indexInDocuments].title);
        $("input[name=cod]").val(documents[indexInDocuments].cod);
        $("select[name=category]").val(documents[indexInDocuments].category);
        $("input[name=document_id]").val(documents[indexInDocuments]._id.$oid);
    });

});
</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<br/>
<div class="col-xs-12">
<div class="panel panel-danger" style="margin-left: -6%">
<div class="panel-heading text-center">
    <h4>Deletar documento<h4/>
</div>
<div class="panel-body">
<div class="col-xs-10">
<h5>Selecione o documento</h5>
<select id="list"></select>
<button id="edit" type="button" class="btn btn-default">Selecionar</button>
</div>
<div class="col-xs-10">
<form method="POST" id="form-edit" action="{{ url_for('admin.delete_documents') }}" >
    <div class="form-group">
    {{ form.csrf_token }}
    {{ form.document_id(required='true', style="display:none;", readonly="readonly") }}
    <br/>
    {{ form.title.label }}
    {{ form.title(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.cod.label }}
    {{ form.cod(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.category.label }}
    {{ form.category(required='true', class="form-control", readonly="readonly") }}
    <br/>
    <br/>
    {{ form.create(class="form-control") }}
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
