{% extends "admin/layout.html" %}

{% block content %}

<header>
    <h2>Documentos</h2>
</header>

<form method="POST" action="{{ url_for('admin.documents') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', placeholder='ex: Regimento Interno') }}
    
    <br/>

    {{ form.cod.label }}<br/>
    {{ form.cod(required='true', placeholder='ex: 12-2015') }}

    <br/>
    {{ form.category.label }}<br/>
    {{ form.category(required='true') }}
    <br/>

    {{ form.document.label }}<br/>
    {{ form.document(required='true') }}
    <br/>

    {{ form.create }}
</form>

{% endblock %}
