{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6" style="margin-left: -5%">
<br/>
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar documento<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('admin.documents') }}" enctype="multipart/form-data">
    <div class="form-group">
    {{ form.csrf_token }}
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', placeholder="Ex: Regimento Interno", class="form-control") }}
    
    <br/>

    {{ form.cod.label }}<br/>
    {{ form.cod(required='true', placeholder="Ex: 12-2015", class="form-control") }}

    <br/>
    {{ form.category.label }}<br/>
    {{ form.category(required='true', class="form-control") }}
    <br/>

    <label class="btn btn-default">
        <span>Carregar documento</span>
        {{ form.document(required='true', style="display:none") }}
    </label>
    <br/>
    <br/>

    {{ form.create(class="form-control")}}
    </div>
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
