{% extends "admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ post_graduation }}.css"/>
{% endblock %}

{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name=create]").val("Editar");
    $("#functionStaff").val('coordination');
    var staff = {{ staff|tojson|safe }};
    var staff = JSON.parse(staff);
    var listOfCoordination = [];
    var listOfSecretariat = [];
    for (i = 0; i < staff.coordination.length; i++){
        if(!(staff.coordination[i].hasOwnProperty('deleted'))){
            listOfCoordination.push({
                id: i,
                text: (staff.coordination[i].name)
            })
        }
    }
    for (i = 0; i < staff.secretariat.length; i++){
        if(!(staff.secretariat[i].hasOwnProperty('deleted'))){
            listOfSecretariat.push({
                id: i,
                text: (staff.secretariat[i].name)
            })
        }
    }

    $("#list").select2({
        data: listOfCoordination
    });

    $("button").click(function(){
        var indexInStaff = $("select#list").val();
        var functionStaff = ($("#functionStaff").val());
        $("input[name=index]").val(indexInStaff);
        $("#form-edit").css("display","block");
        if(functionStaff == "coordination"){
            $("input[name=name]").val(staff.coordination[indexInStaff].name);
            $("textarea[name=abstract]").val(staff.coordination[indexInStaff].abstract);
            $("input[name=rank]").val(staff.coordination[indexInStaff].rank);
            $("input[name=photo]").val(staff.coordination[indexInStaff].photo);
            $(".col-md-3").css("display", "block");
            $(".img-circle").css("display", "block");
            $(".img-circle").attr("src", staff.coordination[indexInStaff].photo);
            $("select[name=function]").val(functionStaff);
        } else {
            $("input[name=name]").val(staff.secretariat[indexInStaff].name);
            $("input[name=rank]").val(staff.secretariat[indexInStaff].function.rank);
            $("textarea[name=abstract]").val(staff.secretariat[indexInStaff].function.description);
            $("input[name=photo]").val("");
            $("select[name=function]").val(functionStaff);
        }

    });

    $("#functionStaff").change(function(){
        functionStaff = $(this).val();
        if($(this).val() == 'secretariat'){
            $("input[name=photo]").css('visibility','hidden');
            $("label[for='photo']").css('visibility','hidden');
            $(".col-md-3").css("display", "none");
            $(".img-circle").css("display", "none");
            $("#list").html("");
            $("#list").select2({
                data: listOfSecretariat
            });
        }
        if($(this).val() == 'coordination'){
            $("input[name=photo]").css('visibility','visible');
            $("label[for='photo']").css('visibility','visible');
            $(".col-md-3").css("display", "block");
            $(".img-circle").css("display", "block");
            $("#list").html("");
            $("#list").select2({
                data: listOfCoordination
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-12" style="margin-left: -5%">
<header class="page-header">
    <h2>Equipe</h2>
</header>
<h4>Selecione o servidor</h4>
<select id="list"></select>
<select id="functionStaff" type="select" class="btn btn-default">
    <option value="coordination" selected="selected">Coordenação</option>
    <option value="secretariat">Secretária</option>
</select>
<button id="edit"type="button" class="btn btn-default">Selecionar</button>
</div>
<div class="col-xs-6" style="margin-left: -5%">
<form method="POST" id='form-edit' action="{{ url_for('admin.edit_staff') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    {{ form.index(required='true', style="display:none;" ) }}
    <br/>
    {{ form.name.label }}
    {{ form.name(required='true', class="form-control" ) }}
    <br/>
    {{ form.abstract.label }}
    {{ form.abstract(required='true', minlength='50', maxlength='1200', class="form-control") }}
    <br/>
    {{ form.rank.label }}
    {{ form.rank(required='true', class="form-control") }}
    <br/>
    {{ form.function.label(style="display: none") }}
    {{ form.function(required='true', style="display: none", class="form-control") }}
    {{ form.photo.label}}
    {{ form.photo(class="form-control") }}
    <p class="form-text text-muted">
        Procure a imagem na internet, aperte o botão direito do mouse, selecione 'Copiar endereço de imagem' ou semelhante, e cole o resultado aqui
    </p>
    <br/>
    {{ form.create(class="form-control")}}
    </div>
</form>
</div>
<div class="col-md-3" style="margin-top: 3%; display:block">
    <img src="" class="img-circle pull-right" height="280" width="240" style="display:none">
</div>

</div>
</div>
</div>

{% endblock %}
