{% extends "admin/layout.html" %}

{% block content %}

<header>
    <h2>Login</h2>
</header>

<form method="POST" action="/admin/login/">
    {{ form.csrf_token }}
    
    {{ form.nick.label }}<br/>
    {{ form.nick(required='true') }}

    <br/>

    {{ form.password.label }}<br/>
    {{ form.password(required='true') }}

    <br/>
    
    {% if incorrect_attempt %}
    <p class="error-text">Erro no usuário ou senha.</p>
    {% endif %}

    <input type="submit" value="Entrar">
</form>

<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>

{% endblock %}
