{% extends "admin/layout.html" %}

{% block content %}
<div class="col-md-6" style="margin-left: -4%">
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar intercâmbio<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('crud_participation.participations') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', class="form-control", placeholder="Ex: Intercâmbio de pesquisa a FGV") }}
    
    <br/>

    {{ form.description.label }}<br/>
    {{ form.description(required='true', class="form-control", minlength='50', maxlength='850', placeholder="Ex: A professora Arlete participou como congressista, publicando 2 trabalhos.") }}

    <br/>

    {{ form.year.label }}<br/>
    {{ form.year(required='true', class="form-control", type='number', step='1', min='1970', max='2050', placeholder="Ex: 2017") }}
        
    <br/>

    {{ form.location.label }}<br/>
    {{ form.location(required='true', class="form-control" , placeholder="Ex: São Paulo, Brasil") }}

    <br/>
    <br/>

    {{ form.create(class="form-control")}}
    </div>
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
