{% extends "admin/layout.html" %}

{% block content %}

<header>
    <h2>Intercâmbios</h2>
</header>

<form method="POST" action="{{ url_for('admin.participations') }}">
    {{ form.csrf_token }}
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', placeholder='ex: CCSA de Tatooine') }}
    
    <br/>

    {{ form.description.label }}<br/>
    {{ form.description(required='true', minlength='50', maxlength='850', placeholder='ex: A professora Arlete participou como congressista, publicando 2 trabalhos.') }}

    <br/>

    {{ form.year.label }}<br/>
    {{ form.year(required='true', type='number', step='1', min='1970', max='2050', placeholder='ex: 2017') }}
        
    <br/>

    {{ form.location.label }}<br/>
    {{ form.location(required='true', placeholder='ex: Coruscant, República Galáctica') }}

    <br/>

    {{ form.create }}
</form>

{% endblock %}
