{% extends "admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script> 
<script src="/static/jquery3/datepicker-pt-BR.js"></script>
<script type="text/javascript">
$(function() {
    $("#datepicker").datepicker({
        dateFormat: "dd/mm/yy"
    });
});
</script>
{% endblock %}
{% block content %}
<div class="col-md-6" style="margin-left: -4%">
<br/>
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar defesa<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('crud_scheduled_reports.scheduled_reports') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    
    <br/>
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', class="form-control", placeholder="Ex: Direcionamento Estratégico Da Assembleia Legislativa Do Rio Grande Do Norte") }}

    <br/>
    
    {{ form.author.label }}<br/>
    {{ form.author(required='true', class="form-control", placeholder="Ex: Carlos Eduardo Artioli Russo") }}

    <br/>

    {{ form.location.label }}<br/>
    {{ form.location(required='true', class="form-control", placeholder="Ex: Sala D4 do Setor V") }}

    <br/>

    {{ form.date.label }}<br/>
    {{ form.date(required='true', class="form-control", id="datepicker") }}

    <br/>

    {{ form.time.label }}<br/>
    {{ form.time(required='true', class="form-control", type="time") }}

    <br/>
    
    {{ form.create(class="form-control") }}
    </div>
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
