{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-xs-6" style="margin-left: -5%">
<br/>
<div class="panel panel-danger">
<div class="panel-heading text-center">
    <h4>Adicionar defesa<h4/>
</div>
<div class="panel-body">
<form method="POST" action="{{ url_for('admin.scheduled_reports') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    
    <br/>
    
    {{ form.title.label }}<br/>
    {{ form.title(required='true', class="form-control", placeholder="Ex: Direcionamento Estratégico Da Assembleia Legislativa Do Rio Grande Do Norte") }}

    <br/>
    
    {{ form.author.label }}<br/>
    {{ form.author(required='true', class="form-control", placeholder="Ex: Carlos Eduardo Artioli Russo") }}

    <br/>

    {{ form.location.label }}<br/>
    {{ form.location(required='true', class="form-control", placeholder="Ex: Sala D4 do Setor V") }}

    <br/>

    {{ form.time.label }}<br/>
    {{ form.time(required='true', class="form-control", placeholder="Ex: 17/08/2017 12:30") }}

    <br/>
    
    {{ form.create(class="form-control") }}
    </div>
</form>
<br/>
<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
