/* GLOBAL
-------------------------------------------------- */

body {
    /* Set padding to protect main menu top place */
    padding-top: 50px;
}

.body-content {
    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}


/* NAVBAR
-------------------------------------------------- */

.navbar-default{
    background-color: #D91E18;
}

.navbar .container .navbar-nav > li > a,
.navbar .container .navbar-header a{
    color: #FFF;
    font-weight: bold;
}

/* FOOTER
-------------------------------------------------- */

footer{
    background-color: #96281B;
    /* Set padding to keep content footer from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p{
    color: #fff;
}

footer p a,
footer p a:hover
footer p a:visited{
    color: #bdc3c7;
}
