/* GLOBAL
-------------------------------------------------- */

body {
    /* Set padding to keep main menu and footer places */
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
}


/* NAVBAR
-------------------------------------------------- */

.navbar-default{
    background-color: #D91E18;
}

.navbar .container .navbar-nav > li > a,
.navbar .container .navbar-header a{
    color: #FFF;
    font-weight: bold;
}
