{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>Livros publicados</h2>
    </header>
    {% for n in range(2021,2017,-1) %}
    <h3>Livros publicados em {{ n }}</h3>
    {% for book in publications %}
    {% if n == book.year %}
    <ul>
        <li><strong>Author:</strong>  {{ book.author }}</li>
        <li><strong>Nome:</strong>  {{ book.name }}</li>
        <li><strong>Ano:</strong> {{ book.year }}</li>
        <li><strong>Volume:</strong> {{ book.volume }}</li>
        <li><strong>Sequencia de produção:</strong> {{ book.sequence }}</li>
        <li><strong>ISBN:</strong> {{ book.isbn }}</li>
        <li><strong>País publicação:</strong> {{ book.pais_publicacao }}</li>
        <li><strong>Editora:</strong> {{ book.nome_editora }}</li>
        <li><strong>Cidade da Editora:</strong> {{ book.cidade_editora }}</li>
    </ul>
    <header class="page-header">
        <h2> </h2>
    </header>
    {% endif %}
    {% endfor %}
    {% endfor %}
{% endblock %}
