{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

    <header class="page-header">
        <h2>Capítulos publicados em livros</h2>
    </header>
    {% for n in range(2017,2021) %}
    <h3>Capitulos de livros publicados em {{ n }}</h3>
    {% for chapter in publications %}
    {% if n == chapter.year %}
    <ul>
        <li><strong>Author:</strong>  {{ chapter.author }}</li>
        <li><strong>Nome:</strong>  {{ chapter.name }}</li>
        <li><strong>Ano:</strong> {{ chapter.year }}</li>
        <li><strong>Sequencia de produção:</strong> {{ chapter.sequence }}</li>
        <li><strong>ISBN:</strong> {{ chapter.isbn }}</li>
        <li><strong>País publicação:</strong> {{ chapter.pais_publicacao }}</li>
        <li><strong>Editora:</strong> {{ chapter.nome_editora }}</li>
        <li><strong>Cidade da Editora:</strong> {{ chapter.cidade_editora }}</li>
    </ul>
    <header class="page-header">
        <h2> </h2>
    </header>
    {% endif %}
    {% endfor %}
    {% endfor %}


{% endblock %}
