{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>

    <header class="page-header">
        <h2>&raquo Convênios</h2>
    </header>

    <p>
        O Programa faz convênio com algumas instituições para lhes garantir abertura de vagas e oportunidades.
    </p>

    <h3>Convênios em execução</h3>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <th>Instituição</th>
            </thead>
            {% for institution in integrations_infos.institutionsWithCovenant %}
            {% if "deleted" not in institution %}
            {% if "finished" not in institution.status %}
            <tr>
                <td>{{ institution.initials }} - {{ institution.name }}</td>
            </tr>
            <tr>
                <td><strong>Objeto: </strong>{{ institution.objective }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <h3>Convênios finalizados</h3>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <th>Instituição</th>
            </thead>
            {% for institution in integrations_infos.institutionsWithCovenant %}
            {% if "deleted" not in institution %}
            {% if "finished" in institution.status %}
            <tr>
                <td>{{ institution.initials }} - {{ institution.name }}</td>
            </tr>
            <tr>
                <td><strong>Objeto: </strong>{{ institution.objective }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </table>
    </div>

</section>

{% endblock %}
