{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo {{ document_type }}</h2>
    </header>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <th>{{ document_number }}</th>
                {% if "Atas" in document_type %}
                <th>Reunião Ordinária/Extraordinária</th>
                {% elif "Planos" in document_type %}
                <th>Data de Aprovação</th>
                {% else %}
                <th>Título</th>
                {% endif %}
                <th>Baixar</th>
            </thead>
            {% for document in documents %}
            {% if "deleted" not in document %}
            <tr>
                <td>{{ document.cod }}</td>
                <td>{{ document.title }}</td>
                <td><a href="{{ url_for('public.download_documents', initials=std.post_graduation.initials, document=document.category, filename=document.file) }}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <br/>

</section>

{% endblock %}
