{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ std.post_graduation.initials.lower() }}.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo Trabalhos de Conclusão <small>Página {{ current_page }} de {{ max_page }}</small></h2>
    </header>

    {% for report in final_reports %}

    <h3>{{ report.title }}</h3>
    <h4><strong>Autoria:</strong> {{ report.author }}.</h4>
    <p><strong>Ano:</strong> {{ report.year }}.</p>
    <p>
        <a target="_blank" href="{{ report.link }}"><span class="glyphicon glyphicon-link"></span> Ver mais.</a></p>
    <br/>
    
    {% endfor %}

</section>

{% endblock %}
