{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ std.post_graduation.initials.lower() }}.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo Trabalhos de Conclusão <small>Página {{ current_page }} de {{ max_page }}</small></h2>
        {% if current_page < max_page %}
        <a href="{{ url_for('public.view_final_reports', initials=std.post_graduation.initials, page=current_page+1) }}">
            <button type="button" class="btn btn-default pull-right" aria-label="Próxima página">
                Próximo
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
        </a>
        {% endif %}
        {% if current_page > 1 %}
        <a href="{{ url_for('public.view_final_reports', initials=std.post_graduation.initials, page=current_page-1) }}">
            <button type="button" class="btn btn-default" aria-label="Página anterior">
                <span class="glyphicon glyphicon-step-backward"></span>
                Anterior
            </button>
        </a>
        {% endif %}
    </header>

    {% for report in final_reports %}

    <h4>{{ report.title }}</h4>
    <h5><strong>Autoria:</strong> {{ report.year }}. {{ report.author }}.</h5>
    <p>
        <a target="_blank" href="{{ report.link }}"><span class="glyphicon glyphicon-link"></span> Ver mais</a></p>
    <br/>
    
    {% endfor %}

</section>

{% endblock %}
