{% extends "public/layout.html" %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>

<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/carousel.css"/>
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/schedule.css"/>
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>

{% endblock %}

{% block precontent %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>

    <div class="carousel-inner" role="listbox">
        
        <div class="item active">
            <img class="first-slide" src="/static/assets/office_lady_using_laptop_holding_smartphone_and_coffe.jpg" 
            alt="Primeiro quadro: mulher no escritório usando laptop e segurando um smartphone e um café na mão.">
            <div class="container">
                <div class="carousel-caption">
                    <div class="carousel-caption-content">
                        <h3>Programa de Pós-Graduação em<br/><strong>{{ std.post_graduation.name }}</strong>.</h3>
                        <p>Stricto sensu: {{ std.post_graduation.descriptionSmall }}</p>
                        <p><a class="btn btn-lg btn-primary" href="#program-about" role="button">Ver mais</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="second-slide" src="/static/assets/man_tie.jpg"
            alt="Segundo quadro: homem de terno ajustando a gravata.">
            <div class="container">
                <div class="carousel-caption">
                    <div class="carousel-caption-content">
                        <h3>Como ingressar?</h3>
                        <p>O edital de inscrição abre normalmente após outubro, com vagas exclusivas para instituições com convênio com o Programa.</p>
                        <p><a class="btn btn-lg btn-primary" href="{{ url_for('public.view_covenants', initials=std.post_graduation.initials) }}" role="button">Ver convênios</a></p>
                    </div>
                </div>
            </div>
        </div>
        
<!--
        <div class="item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
-->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
    </div>
    </div>
    </div>
</div><!-- /.carousel -->

{% endblock %}

{% block content %}

<div class="row">

    <section class="col-md-4">
        <header>
            <h2><span class="glyphicon glyphicon-map-marker"></span> Atendimento</h2>
        </header>
        <img src="/static/assets/logo_{{ std.post_graduation.initials.lower() }}.png" class="program-logo center-block" width="200">
        <p>
            <span>Calendário academico:</span> <a href="{{ attendance.calendar }}">Calendário acadêmico</a><br/>
            <span>Sala:</span> {{ attendance.location.building }}, {{ attendance.location.floor }}, {{ attendance.location.room }}.<br/>
            <span>Horários: </span> {{ attendance.location.opening }}<br/>
            <span>E-mail:</span> <a href="mailto:{{ std.post_graduation.email }}">{{ attendance.email }}</a><br/>
            {% for phone in attendance.phones %}
            {% if attendance.phones[phone]. type %}
            <span>Telefone:</span> {{ attendance.phones[phone].number }} - {{ attendance.phones[phone].type }}<br/>
            {% endif %}
            {% endfor %}
        </p>
        <div id="map"><!-- Google Maps API. --></div>
        <p>
            <address>
                <span>Endereço 1:</span>
                Brasil, Natal (RN), CEP 59078-970, Lagoa Nova, Av. Sen. Salgado Filho, 3000.<br/>
                <span>Endereço 2:</span>
                Campus Universitário Central, Prédio Administrativo do CCSA.<br/>
            </address>
        </p>
    </section>
    
    <div class="col-md-4">
        <section>
            <header>
                <h2><span class="glyphicon glyphicon-pushpin"></span> Notícias</h2>
            </header>
            <p>Notícias relacionadas ao programa.</p>
            {% if news %}
            <table class="schedule-table">
                {% for piece in news %}
                {% if "deleted" not in piece %}
                {% if loop.revindex < 3 %}
                <tr class="schedule-container">
                    <td class="schedule-container-info">
                        <h4>{{ piece.title }}
                        </h4>
                        <h5>{{ piece.headLine }}</h5>
                        <h6><a href="{{ url_for('public.view_news', id=piece.id, initials=std.post_graduation.initials) }}">Mais informações</a></h6><br/>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </table>
            <div class="panel-heading text-center">
                <h5><p><a href="{{ url_for('public.view_news_list', initials=std.post_graduation.initials) }}"> Clique para ver a lista de notícias</a></h5>
            </div>
            {% else %}
            <p><small>(Não há nenhuma notícia cadastrada.)</small></p>
            {% endif %}
        </section>
        
        <section>
            <header>
                <h2><span class="glyphicon glyphicon-pushpin"></span> Eventos</h2>
            </header>
            <p>Eventos anunciados pelo Programa.</p>
            {% if events %}
            <table class="schedule-table">
                {% for event in events %}
                {% if "deleted" not in event %}
                {% if loop.revindex < 3 %}
                <tr class="schedule-container">
                    <td class="schedule-container-date">
                        <ul>
                            <li class="schedule-date-day">{{ event.initialDate.strftime("%d") }}</li>
                            <li class="schedule-date-month">{{ event.initialDate.strftime("%b").upper() }}</li>
                            <li class="schedule-date-year">{{ event.initialDate.strftime("%Y") }}</li>
                        </ul>
                    </td>
                    <td class="schedule-container-info">
                        <h4>{{ event.title }}</h4>
                        <p>
                            {% if event.finalDate != "" %}
                            Encerramento: {{ event.finalDate.strftime("%d/%m/%Y") }}<br/>
                            {% endif %}
                            {% if event.hour != "" %}
                            Horário: {{ event.hour }}<br/>
                            {% endif %}
                            {% if event.link != "" %}
                            <a href="{{ event.link }}">Mais informações</a>
                            {% endif %}
                        </p>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </table>
            {% else %}
            <p><small>(Sem eventos agendados no momento.)</small></p>
            {% endif %}
        </section>
    </div>
    
    <div class="col-md-4">
        <section>
            <header>
            <h2><span class="glyphicon glyphicon-bullhorn"></span> Seleções</h2>
            </header>
            {% if selections %}
            <table class="schedule-table">
                {% for selection in selections %}
                {% if "deleted" not in selection %}
                <tr class="schedule-container">
                    <td class="schedule-container-date">
                        <ul>
                            <li class="schedule-date-day">{{ selection.initialDate.strftime("%d") }}</li>
                            <li class="schedule-date-month">{{ selection.initialDate.strftime("%b").upper() }}</li>
                            <li class="schedule-date-year">{{ selection.initialDate.strftime("%Y") }}</li>
                        </ul>
                    </td>
                    <td class="schedule-container-info">
                        <h4>{{ selection.title }}</h4>
                        <p>
                            {% if selection.finalDate != "" %}
                            Encerramento: {{ selection.finalDate.strftime("%d/%m/%Y") }}<br/>
                            {% endif %}
                            {% if selection.hour != "" %}
                            Horário: {{ selection.hour }}<br/>
                            {% endif %}
                            {% if selection.link != "" %}
                            <a href="{{ selection.link }}">Mais informações</a>
                            {% endif %}
                        </p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            {% else %}
            <p><small>(Sem eventos agendados no momento.)</small></p>
            {% endif %}

            {% if final_reports %}
            <section>
                <header>
                    <h2><span class="glyphicon glyphicon-pushpin"></span> Apresentações</h2>
                </header>
                <p>Apresentações públicas dos discentes diante de suas bancas examinadoras.</p>
                <table class="schedule-table">
                    {% for report in final_reports %}
                    {% if "deleted" not in report %}
                    {% if loop.revindex < 3 %}
                    <tr class="schedule-container">
                        <td class="schedule-container-date">
                            <ul>
                                <li class="schedule-date-day">{{ report.time.strftime("%d") }}</li>
                                <li class="schedule-date-month">{{ report.time.strftime("%b").upper() }}</li>
                                <li class="schedule-date-year">{{ report.time.strftime("%Y") }}</li>
                            </ul>
                        </td>
                        <td class="schedule-container-info">
                            <h4>{{ report.title }}
                                <br/>
                                <small>{{ report.author }}</small>
                            </h4>
                            <p>
                                Local: {{ report.location }}<br/>
                                Horário: {{ report.time.strftime("%H:%M") }}<br/>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                <p><small>(Não há nenhuma apresentação do Programa agendada.)</small></p>
                {% endif %}
            </section>
        </section>
        <section>
            <header>
                <h2><span class="glyphicon glyphicon-hourglass"></span> Horários</h2>
            </header>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Turmas atuais</h4>
                </div>
                <table class="table schedule-table">
                    <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Horário</th>
                        </tr>
                    {% for class in classes %}
                    <tr>
                        <td>{{ class.component_name }}</td>
                        <td>{{ class.hours }}</td>
                        </td>
                    </tr>
                    {% endfor %}
                    </thead>
                </table>
                <div class="panel-heading text-center">
                    <h5><p><a href="{{ url_for('public.view_classes', initials=std.post_graduation.initials) }}"> Clique para ver o resto das turmas</a></h5>
                </div>
            </div>
        </section>
    </div>

</div>

<div class="row darker-container" id="program-about">
    <section>
        <header>
            <h2><span class="glyphicon glyphicon-home"></span> Sobre o Programa</h2>
        </header>
        <p>{{ std.post_graduation.descriptionBig|safe }}</p>
    </section>
</div>

<div class="row">
    <div class="container">
        <h3>Instituições em convênio</h3>
        <p>
            <a href="{{ url_for('public.view_covenants', initials=std.post_graduation.initials) }}">Ler mais</a>
        </p>
        <div class="autoplay">
            {% for institution in institutions_with_covenant %}
            {% if "deleted" not in institution %}
            <div><img src="/static/assets/{{ institution.logoFile }}" alt="{{ institution.name }}"/></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<!-- Google maps for building location -->

<script>
    function initMap() {
        var location = { lat: -5.8379134, lng: -35.1983559 }; // CCSA administrative building

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: location
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>

<!-- Stick carousel for convenants -->

<script>
    $(document).ready(function(){
        $('.autoplay').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>

<script type="text/javascript" src="/static/slick/slick.js"></script>

<!-- Smooth scrolling for inner links 

<script>
    $('a[href*=\\#]').on('click', function(event){
        event.preventDefault();
        $('html,body').animate({
            scrollTop:$(this.hash).offset().top
        }, 500);
    });
</script>
//-->

{% endblock %}
