{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>Acordos de cooperação, parcerias e participações em eventos internacionais</h2>
    </header>

    <p>
        Ao longo do desenvolvimento das atividades dos discentes e docentes, vários intercâmbios pontuais ocorreram.
    </p>

    <h3>Acordos de cooperação</h3>
    {% for event in integrations_infos.participationsInEvents %}
    {% if "deleted" not in event %}

    {% if "cooperation" in event.type_of_participation %}
    <h4>{{ event.title }}<br/>
        <small>({% if event.international %}{{ event.international }} | {% endif %}{{ event.year|int }})</small>
    </h4>
    <p>{{ event.description }}</p>

    {% endif %}
    {% endif %}
    {% endfor %}

    <h3>Parcerias</h3>
    {% for event in integrations_infos.participationsInEvents %}
    {% if "deleted" not in event %}

    {% if "parternship" in event.type_of_participation %}
    <h4>{{ event.title }}<br/>
        <small>({% if event.international %}{{ event.international }} | {% endif %}{{ event.year|int }})</small>
    </h4>
    <p>{{ event.description }}</p>

    {% endif %}
    {% endif %}
    {% endfor %}

    <h3>Eventos internacionais</h3>
    {% for event in integrations_infos.participationsInEvents %}
    {% if "deleted" not in event %}

    {% if "international_events" in event.type_of_participation %}
    <h4>{{ event.title }}<br/>
        <small>({% if event.international %}{{ event.international }} | {% endif %}{{ event.year|int }})</small>
    </h4>
    <p>{{ event.description }}</p>

    {% endif %}
    {% endif %}
    {% endfor %}

    <h3>Pós-Graduação</h3>
    {% for event in integrations_infos.participationsInEvents %}
    {% if "deleted" not in event %}

    {% if "posdoc" in event.type_of_participation %}
    <h4>{{ event.title }}<br/>
        <small>({% if event.international %}{{ event.international }} | {% endif %}{{ event.year|int }})</small>
    </h4>
    <p>{{ event.description }}</p>

    {% endif %}
    {% endif %}
    {% endfor %}

    <h3>Prêmios Internacionais</h3>
    {% for event in integrations_infos.participationsInEvents %}
    {% if "deleted" not in event %}

    {% if "international_prizes" in event.type_of_participation %}
    <h4>{{ event.title }}<br/>
        <small>({% if event.international %}{{ event.international }} | {% endif %}{{ event.year|int }})</small>
    </h4>
    <p>{{ event.description }}</p>

    {% endif %}
    {% endif %}
    {% endfor %}

</section>

{% endblock %}
