{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/ppgp.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo Projetos <small>em execução</small></h2>
    </header>

    {% for coordinator in coordinators %}
	<h2>{{ coordinator.coordinator_name }}</h2>
    {% for project in coordinator.projects %}
    {% if "deleted" not in project %}
    <h3>{{ project.title }}</h3>
    {% if project.subtitle %}
    <h4>{{ project.subtitle }}</h4>
    {% endif %}
    <ul>
        <li><strong>E-mail:</strong> {{ project.email }}</li>
        <li><strong>Dados:</strong>
            <ul>
                <li>Ano: {{ project.year }}</li>
                <li>Situação: {{ project.situation }}</li>
            </ul>
        </li>
        <li><strong>Membros:</strong>
            <ul>
                {% for member in project.members %}
                <li>{{ member.name }}, <small>{{ member.project_role }}</small></li>
                {% endfor %}
            </ul>
        </li>

    </ul>
    <br/>
    {% endif %}
    {% endfor %}
    <header class="page-header">
        <h2> </h2>
    </header>
    {% endfor %}

</section>

{% endblock %}
