{% extends "public/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ std.post_graduation.initials.lower() }}.css"/>
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo Disciplinas</h2>
    </header>
    
    {% for grade in grades_of_subjects %}
    {% set grade_index = loop.index %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4>{{ grade.title }}</h4>
        </div>

        <div class="panel-body text-center">
            <p>Nesta grade é necessário cumprir <strong>{{ grade.minCredits|int }} crédito(s)</strong>
                e <strong>{{ grade.minSubjectsQtt|int }} disciplina(s)</strong>.</p>
        </div>
        
        <table class="table">
            <thead>
                <th>Disciplina</th>
                <th>Carga</th>
                <th>Créditos</th>
            </thead>
            {% for subject in grade.subjects %}
            {% if "deleted" not in subject %}
            {% set subject_index  = loop.index %}
            {% set description_id = 'subject_description-'   ~ grade_index ~ '-' ~ subject_index %}
            {% set icon_id        = 'subject_collapse_icon-' ~ grade_index ~ '-' ~ subject_index %}
            <tr>
                <td>
                    <a href="#" onclick="toggleDescriptionVisibility('{{ description_id }}', '{{ icon_id }}'); return false;">
                        <span id="{{ icon_id }}" class="glyphicon glyphicon-collapse-up"></span>
                        {{ subject.name }}
                    </a>
                    <p id="{{ description_id }}" class="hidden">
                        {{ subject.description }}
                    </p>
                </td>
                <td>{{ subject.workloadInHours|int }}h</td>
                <td>{{ subject.credits|int }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <br/>
    {% endfor %}

</section>

{% endblock %}

{% block scripts %}
<script>
    // now you see... now you don't see...
    function toggleDescriptionVisibility(subject_description_id, collapse_icon_id){
        $("#"+subject_description_id).toggleClass('hidden');
        $("#"+collapse_icon_id).toggleClass('glyphicon glyphicon-collapse-up');
        $("#"+collapse_icon_id).toggleClass('glyphicon glyphicon-collapse-down');
    }
</script>
{% endblock %}
