{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/ppgp.css" />
{% endblock %}

{% block content %}

<div class="main-page-header">
    <h1 class="text-center"><small>Pós-Graduação em</small><br/> {{ std.post_graduation.name }}</h1>
</div>

<section>
    <header class="page-header">
        <h2>&raquo Documentos</h2>
    </header>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <th>Nº Resolução</th>
                <th>Título</th>
                <th>Baixar</th>
            </thead>
            {% for document in documents %}
            <tr>
                <td>{{ document.cod }}</td>
                <td>{{ document.title }}</td>
                <td><a href="/static/upload_files/{{ std.post_graduation.initials }}/{{ document.file }}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br/>

</section>

{% endblock %}
