{% extends "layout.html" %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="/static/css/carousel.css" />
<link rel="stylesheet" type="text/css" href="/static/css/schedule.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ppgp.css" />

{% endblock %}

{% block precontent %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        
        <div class="item active">
            <img class="first-slide" src="/static/assets/office_lady_using_laptop_holding_smartphone_and_coffe.jpg" 
            alt="Primeiro quadro: mulher no escritório usando laptop e segurando um smartphone e um café na mão.">
            <div class="container">
                <div class="carousel-caption">
                    <div class="carousel-caption-content">
                        <h1>Programa de Pós-Graduação em<br/><strong>{{ std.post_graduation.name }}</strong>.</h1>
                        <p>
                            Stricto sensu: o Mestrado Profissional em Gestão Pública prepara dirigentes para atuar em instituições governamentais.
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="{{ url_for('page_not_found') }}" role="button">Quem são os egressos? &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
-->
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div><!-- /.carousel -->

{% endblock %}

{% block content %}

<div class="row">

    <section class="col-md-4">
        <header>
            <h2><span class="glyphicon glyphicon-map-marker"></span> Atendimento</h2>
        </header>
        <img src="/static/assets/logo_ppgp.png" alt="Gestão Pública" class="program-logo center-block" width="200">
        <p>
            <span>Sala:</span> {{ std.post_graduation.attendance.building }}, {{ std.post_graduation.attendance.floor }}, {{ std.post_graduation.attendance.room }}.<br/>
            <span>Horários: </span> {{ std.post_graduation.attendance.opening }}<br/>
            <span>E-mail:</span> <a href="mailto:{{ std.post_graduation.email }}">{{ std.post_graduation.email }}</a><br/>
            {% for phone in std.post_graduation.phones %}
            <span>Telefone {{ phone.type }}:</span> {{ phone.number }}<br/>
            {% endfor %}
        </p>
        <div id="map"><!-- Google Maps API. --></div>
        <p>
            <address>
                <span>Endereço 1:</span>
                Brasil, Natal (RN), CEP 59078-970, Lagoa Nova, Av. Sen. Salgado Filho, 3000.<br/>
                <span>Endereço 2:</span>
                Campus Universitário Central, Prédio Administrativo do CCSA.<br/>
            </address>
        </p>
    </section>
    
    <section class="col-md-4">
        <header>
            <h2><span class="glyphicon glyphicon-pushpin"></span> Apresentações</h2>
        </header>
        <p>Apresentações públicas dos discentes diante de suas bancas examinadoras.</p>
        <table class="schedule-table">
            {% for report in final_reports %}
            <tr class="schedule-container">
                <td class="schedule-container-date">
                    <ul>
                        <li class="schedule-date-day">{{ report.time.strftime("%d") }}</li>
                        <li class="schedule-date-month">{{ report.time.strftime("%b").upper() }}</li>
                        <li class="schedule-date-year">{{ report.time.strftime("%Y") }}</li>
                    </ul>
                </td>
                <td class="schedule-container-info">
                    <h4>{{ report.title }}
                        <br/>
                        <small>{{ report.author }}</small>
                    </h4>
                    <p>
                        Local: {{ report.location }}<br/>
                        Horário: {{ report.time.strftime("%H:%M") }}<br/>
                    </p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!--<p><a class="btn btn-default center-block" href="{{ url_for('page_not_found') }}">Ver cronograma inteiro &raquo;</a></p>-->
    </section>
    
    <section class="col-md-4">
        <section>
            <header>
            <h2><span class="glyphicon glyphicon-bullhorn"></span> Seleções</h2>
            </header>
            <h4>Ops...</h4>
            <p>Não há nenhuma seleção ocorrendo no momento.</p>
        </section>
        <!--
        <h4>Mestrado (15 vagas):
            <br/>
            <small>(10/03/2017 à 05/06/2017)</small>
        </h4>
        <ul>
            <li><span>Status:</span> <span style="color: green">Aguardando submissões</span></li>
            <li><span>Quadro de vagas por instituição:</span> 
                <ul>
                    <li>"Público geral" (0 vagas)</li>
                    <li>UFRN (5 vagas)</li>
                    <li>IFPA (5 vagas)</li>
                    <li>IFRN (5 vagas)</li>
                </ul>
            </li>
            <li><span>Documentos necessários:</span> 
                <ul>
                    <li>Comprovante do resultado do teste da ANPAD realizados a partir de fevereiro de 2015</li>
                    <li>Cópia do Anteprojeto de Proposta de Intervenção ou do Anteprojeto de Dissertação de Mestrado</li>
                    <li>Carta de anuência emitida pela instituição conveniada autorizando o candidato a participação no processo seletivo</li>
                </ul>
            </li>
            <li><span>Como participar:</span>
                Realizar sua inscrição online através do site do SIGAA (http://www.sigaa.ufrn.br), na
                opção Processos Seletivos - STRICTO SENSU, clicar no link Mestrado Profissional em
                Gestão Pública. No processo de inscrição o candidato deverá anexar os documentos.
            </li>
        </ul>
        <p><a class="btn btn-default center-block" href="{{ url_for('page_not_found') }}">Baixar edital &raquo;</a></p>
        -->
        <section>
            <header>
                <h2><span class="glyphicon glyphicon-hourglass"></span> Horários</h2>
            </header>
            {% for weekly_schedule in weekly_schedules %}
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>{{ weekly_schedule.title }}</h4>
                </div>
                <table class="table schedule-table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Lista de aulas</th>
                        </tr>
                    </thead>
                    {% for day in weekly_schedule.week %}
                    <tr>
                        <td>
                            {{ day.day }}
                        </td>
                        <td>
                            <ul>
                                {% for class in day.classes %}
                                <li>
                                    <span{% if class.isMandatory %} style="font-weight: bold" {% endif %}>
                                        {{ class.subject }}
                                    </span>
                                    às {{ class.hour }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </section>
    </section>

</div>

{% endblock %}

{% block scripts %}

<script>
    function initMap() {
        var location = { lat: -5.8379134, lng: -35.1983559 }; /* Default location for CCSA administrative building */

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: location
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>

{% endblock %}