{% extends "layout.html" %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="/static/css/carousel.css" />
<link rel="stylesheet" type="text/css" href="/static/css/schedule.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ppgp.css" />

{% endblock %}

{% block precontent %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        
        <div class="item active">
            <img class="first-slide" src="static/assets/office_lady_using_laptop_holding_smartphone_and_coffe.jpg" 
            alt="Primeiro quadro: mulher no escritório usando laptop e segurando um smartphone e um café na mão.">
            <div class="container">
                <div class="carousel-caption">
                    <div class="carousel-caption-content">
                        <h1>Programa de Pós-Graduação em<br/><strong>{{ program.name }}</strong>.</h1>
                        <p>
                            Stricto sensu: o Mestrado Profissional em Gestão Pública prepara dirigentes para atuar em instituições governamentais.
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="{{ url_for('page_not_found') }}" role="button">Quem são os egressos? &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
-->
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div><!-- /.carousel -->

{% endblock %}

{% block content %}

<div class="row">

    <section class="col-md-4">
        <header>
            <h2>Atendimento</h2>
        </header>
        <img src="static/assets/logo_ppgp.png" alt="Gestão Pública" class="program-logo center-block" width="200">
        <p>
            <span>Sala:</span> Administração do CCSA, Térreo, Ala A, Sala 10.<br/>
            <span>Horários: </span> Segunda à Sexta-Feira (08:00 às 11:30 e 13:30 às 17:00).<br/>
            <span>E-mail:</span> <a href="mailto:ppgp.ufrn@gmail.com">ppgp.ufrn@gmail.com</a><br/>
            <span>Telefone 1:</span> +55 84 3342-2288 (Ramal 182)<br/>
            <span>Telefone 2:</span> +55 84 9 9474-6765<br/>
        </p>
        <div id="map"><!-- Google Maps API. --></div>
        <p>
            <address>
                <span>Endereço 1:</span>
                Brasil, Natal (RN), CEP 59078-970, Lagoa Nova, Av. Sen. Salgado Filho, 3000.<br/>
                <span>Endereço 2:</span>
                Campus Universitário Central, Prédio Administrativo do CCSA.<br/>
            </address>
        </p>
    </section>
    
    <section class="col-md-4">
        <header>
            <h2>Trabalhos de Conclusão</h2>
        </header>
            <p>Apresentações públicas dos discentes diante de suas bancas examinadoras.</p>
            <table class="schedule-table">
                <tr class="schedule-container">
                    <td class="schedule-container-date">
                        <ul>
                            <li class="schedule-date-day">17</li>
                            <li class="schedule-date-month">FEV</li>
                            <li class="schedule-date-year">2017</li>
                        </ul>
                    </td>
                    <td class="schedule-container-info">
                        <h4>A percepção de alunos com deficiência sobre a gestão para a inclusão: o caso IFPB - Campus João Pessoa
                            <br/>
                            <small>Giorginone Mendes Ribeiro Júnior</small>
                        </h4>
                        <p>
                            Local: Setor V, Sala D4<br/>
                            Horário: 14:00<br/>
                        </p>
                    </td>
                </tr>
                <!-- TO REMOVE -->
                <tr class="schedule-container">
                    <td class="schedule-container-date">
                        <ul>
                            <li class="schedule-date-day">17</li>
                            <li class="schedule-date-month">FEV</li>
                            <li class="schedule-date-year">2017</li>
                        </ul>
                    </td>
                    <td class="schedule-container-info">
                        <h4>Transparência pública: análise sobre as práticas dos Institutos Federais de Educação, Ciência e Tecnologia
                            <br/>
                            <small>Luzivan Jose da Silva</small>
                        </h4>
                        <p>
                            Local: Setor V, Sala D4<br/>
                            Horário: 09:00<br/>
                        </p>
                    </td>
                </tr>

                <tr class="schedule-container">
                    <td class="schedule-container-date">
                        <ul>
                            <li class="schedule-date-day">10</li>
                            <li class="schedule-date-month">FEV</li>
                            <li class="schedule-date-year">2017</li>
                        </ul>
                    </td>
                    <td class="schedule-container-info">
                        <h4>A institucionalização da sustentabilidade no Instituto Federal de Educação, Ciência e Tecnologia da Paraíba: o caso João Pessoa
                            <br/>
                            <small>Leonardo Freire de Mendonça Soares</small>
                        </h4>
                        <p>
                            Local: Setor V, Sala D4<br/>
                            Horário: 14:00<br/>
                        </p>
                    </td>
                </tr>
                <!-- / -->
            </table>
            <p><a class="btn btn-default center-block" href="{{ url_for('page_not_found') }}">Ver cronograma inteiro &raquo;</a></p>
        </header>
    </section>
    
    <section class="col-md-4">
        <header>
            <h2>Processos Seletivos</h2>
        </header>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{{ url_for('page_not_found') }}">Learn more &raquo;</a></p>
    </section>

</div>

{% endblock %}

{% block scripts %}

<script>
    function initMap() {
        var location = { lat: -5.8379134, lng: -35.1983559 }; /* Default location for CCSA administrative building */

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: location
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>

{% endblock %}